<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Things Todo</h1>
   
    <div id="todoList">
      <section class="list">

				<ul v-if="tasks.length" class="list-item">
					<li v-for="task in tasks" :class="{done: isChecked(task)}">
            <div class="task">
              <input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
              <span><label for="checkbox">{{ task.text }}</label></span>
            </div>
						<button class="delete" @click="removeTask(task)">
              <i class="fa fa-trash-o"></i>
            </button>
					</li>
        </ul>
        <p v-else class="message">
          Tasks list empty. Good Job!!
        </p>
      </section>
      
      <section id="newTask" class="panel">	

				<input v-model="newTask" @keyup.enter="addTask" placeholder="New task" autofocus type="text" class="text-input">
				<button @click="addTask"><span>+</span></button>

      </section>
      
         
    </div>
   
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>